*{
  border: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#container-all-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
  min-height: 100vh;
  background: url(./img/neon-stream_600x338-mm-90.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.players-name-page {
  flex-direction: column;
  min-height:100vh;
  width: 80%;
  gap: 200px;
  transition: 3000ms;
  display: none;
}

.show{
  display: flex;
}

.show:hover {
  background-color: #363636;
}

.players-name-page h1 {
  margin: 20px;
  align-self: center;
  color: #7B68EE;
}

.players-register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  height: 300px;
}

.flex-items {
  display: flex;
  text-align: center;
  margin-bottom: 70px;
}

.flex-items img{
  width: 10%;
}

.flex-items label {
  color: #7B68EE;
  font-weight: bold;
}

.flex-items input {
  width: 50%;
  height: 30%;
  border-radius: 5px;
  text-align: center;
  font-size: larger;
}

.players-register .division-size {
  width: 40%;
}

#save-players-names {
  justify-self: center;
  align-self: center;
  background-color: #7B68EE;
  font-weight: bold;
  cursor: pointer;
}

#save-players-names:hover {
  opacity: 0.5;
}

.game-page {
  display: none;
}

.appear {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  min-height: 100vh;
}

.game-container {
 display: none;
}

.game-container .style-board {
  background-color: #363636;
  border: white solid 1px;
  border-radius: 10px;
  transition: 100ms;
}

.game-container .style-board:hover {
  background-color: #3f3f3f;
  cursor: pointer;
  transform: scale(1.05);
  border-radius: 0px;
}
.in {
  display: grid;
  column-gap: 2px;
  row-gap:2px;
}

.tool-bar {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
  transition: 100ms;
  overflow-y: hidden;
}

.tool-bar:hover {
  -webkit-box-shadow: 0px 39px 93px 8px rgba(242,150,242,0.81);
  -moz-box-shadow: 0px 39px 93px 8px rgba(242,150,242,0.81);
  box-shadow: 0px 39px 93px 8px rgba(242,150,242,0.81);
  border-radius: 10px;
}

.tool-bar div{
  border-right: 40px solid rgb(212, 212, 212);
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  float: left;
  margin-left: 4%;
  transition: 100ms;
}

.tool-bar div:hover {
  cursor: pointer;
  transform: translateX(-5px);
}

.tool-bar p {
  color: white;
  font-weight: bold;
}

 .player-1, .player-2 {
  display: none;
}

.time-appear {
  display: block;
  width: 20%;
}

.X {
 background: url(./img/red\ X\ image.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: 60%;
}

.O {
  background: url(./img/O\ game\ button.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%; 
}

.name-add {
 color: white;
}


@media (max-width: 10000px) {

  .players-name-page h1 {
    text-align: center;
  }

  .show {
    font-size: xx-large;
  }

  #save-players-names {
    width: 50%;
    height: 20%;
    font-size: 30px;
  }

  .style-board {
    min-height: 200px;
  }
  .in {
    grid-template-columns: repeat(3,200px);
  }

  .tool-bar {
  width: 600px;
  height: 100px;
  }
}


@media (max-width: 1440px) {

  .show {
    font-size: 30px;
  }

  #save-players-names {
    width: 30%;
    height: 10%;
    font-size: medium;
  }

  .style-board {
    min-height: 150px;
  }
  .in {
    grid-template-columns: repeat(3,150px);
  }

  
  .tool-bar {
    width: 450px;
    height: 80px;
    }
}

@media (max-width: 1000px) {

  .show {
    width: 100%;
    font-size: 10px;
    background-color: #363636;
  }

  .flex-items input {
    width: 80%;
  }

  #save-players-names {
    width: 40%;
    height: 8%;
    font-size: small;
  }
  .style-board {
    min-height: 100px;
  }
  .in {
    grid-template-columns: repeat(3,100px);
  }
  .tool-bar {
    width: 300px;
    height: 80px;
    }
}

@media (max-width: 340px) {
  .flex-items img {
    display: none;
  }
  .players-register .division-size {
    width: 50%;
    align-self: center;
  }

  .style-board {
    min-height: 50px;
  }
  .in {
    grid-template-columns: repeat(3,50px);
  }
  .tool-bar {
    width: 100%;
    height: 50px;
    font-size: 10px ;
    }

  .tool-bar div{
    border-right: 15px solid rgb(212, 212, 212);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
}
